---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Mark Hardwick. <a href="https://github.com/cassidoo/blahg">The original template for this blog is open source</a>!
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
		font-size: 0.8rem;
	}
</style>
