---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<header>
	<div class="header-section">
		<div class="header-frame">
			<picture>
				<source srcset={`${import.meta.env.NEXT_PUBLIC_VERCEL_ENV !== "local" ? "https://" : "http://"}${import.meta.env.PUBLIC_VERCEL_URL}/logo-silver.svg`} media="(prefers-color-scheme: dark)">
				<img src={`${import.meta.env.NEXT_PUBLIC_VERCEL_ENV !== "local" ? "https://" : "http://"}${import.meta.env.PUBLIC_VERCEL_URL}/logo-gotham.svg`} alt="Logo for Mhark">
			</picture>
			<h2>{SITE_DESCRIPTION}</h2>
		</div>
	</div>
</header>
<nav>
	<HeaderLink href="/">Home</HeaderLink>
	<HeaderLink href="/posts">Posts</HeaderLink>
	<HeaderLink href="https://spot-ship.com">Spot Ship</HeaderLink>
</nav>
<style>
	h2 {
		margin: 0.5em 0;
	}
</style>
